<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://www.dita-ot.org/rng/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="com.kate.pdf">
  <require plugin="org.dita.pdf2"/>
  <require plugin="org.dita.pdf2.fop"/>
  <transtype name="pdfkate" extends="pdf" desc="PDF restyling for KatyushaIT company">
        <param name="custom-headers-enabled"
            desc="Этот параметр включает дополнительные заголовки к элементам
            stepxmp, steptroubleshooting, tasktroubleshooting"
            type="enum">
            <val default="yes">no</val>
            <val>yes</val>
        </param>
        <param name="note-labels-enabled"
            desc="Этот параметр включает дополнительные текстовые подписи к примечаниям различного вида"
            type="enum">
            <val default="yes">no</val>
            <val>yes</val>
        </param>
        <param name="force-page-count"
            desc="Этот параметр позволяет управлять вставкой дополнительных пустых страниц"
            type="enum">
            <val default="yes">no</val>
            <val>yes</val>
        </param>
  </transtype>
  <feature extension="dita.transtype.print" value="pdfkate"/>
  <feature extension="ant.import" file="integrator.xml"/>
  <feature extension="dita.conductor.pdf2.param" file="pdf2ExtensionParameters.xml"/>
</plugin>
